.about-us{
    display: flex;
    justify-content: center;
    padding: 0 2vw;
    gap: 3vw;
    align-items: center;
    position: relative;
    height: 100vh;
}
.overlapping{
    position: relative;
    width: 70%;
}
.about-us-bg{
    width: 100%;
    height: 100%;
    background-color: #f5c48566;
    position: absolute;
    top: 0.5rem;
    z-index: -1;
    left: 1rem;
}
.about-right{
    background-color: #fef9f2; 
    /* #F5C485 */
    padding: 2vh 3vw;
    height: 100%;
    text-align: center;
}