.uses{
    background-color: var(--background);
    padding: 10vh 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}
.uses>h1{
    text-align: center;
    width: fit-content;
}
.uses-content{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}