.contact{
    margin: 8vh 0;
    padding: 0 3vw;
}
.contact h1{
    text-align: center;
}
.cards{
    display: flex;
    gap: 5vw;
    margin: 15vh 0;
}

.contact-card{
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    height: 25vh;
    padding: 2vh 1vw;
    background-color:var(--background);
}
.contact-card h5{
    color: #d8aa91 !important
}
.card-logo{
    width: 100%;
    height: 30%;
}
.card-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: brightness(1);
}
.contact-card p{
    font-weight: 600;
}
.contact-card-content{
    margin-top: 3vh;
    color: #8a5f49;
}
.submit-form{
    /* background-color: red; */
    display: flex;
    width: 50%;
    gap: 2vh;
    flex-direction: column;
}
.textArea{
    height: 100%;
}