#carousel{
    margin-top: 10vh;
    height: 90vh;
}
.carousel-inner{
    height: 100%;
}
.carousel-inner .carousel-item{
    height: 100%;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
    z-index: 100;
    object-fit: cover;
}
.carousel-image{
    filter: blur(5px);
}
.carousel-caption{
    padding-bottom: 16.25rem!important;
}
